<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form class="grid" action="/result" method="POST">

        {% if name %}
          <center>
            <h3 style="color: blue;" class="let_space">Hello {{name}}, How was your day!!</h3>
          </center>

        {% endif %}

        <label for="name">Enter you name:</label>
        <input type="text" id="name" name="name">

        <center><input class="file_submit" type="Submit"></center>

      </form>
      <br>
      <br>
      <br>
</body>
</html>